@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s all ease;
}

body {
    background-color: black;
}

nav {
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    text-decoration: none;
    z-index: 1000;
    color: white;
    border-bottom: 2px solid white;
}

#damn1:hover{
    color: red;
    text-decoration: underline;
    font-size: 1.2rem;
}
#damn2:hover{
    color: red;
    text-decoration: underline;
    font-size: 1.2rem;
}
#damn3:hover{
    color: red;
    text-decoration: underline;
    font-size: 1.2rem;
}
#damn4:hover{
    color: red;
    text-decoration: underline;
    font-size: 1.2rem;
}
#damn5:hover{
    color: red;
    text-decoration: underline;
    font-size: 1.2rem;
}
#damn6:hover{
    color: red;
    text-decoration: underline;
    font-size: 1.2rem;
}
#name:hover{
    color: red;
}
.button:hover{
    background-image: url(https://i.pinimg.com/736x/93/8e/0f/938e0f24a2943fc1606e340033b45d8b.jpg);
    background-position: center;
    background-size: cover;
    transform: scale(1.1);
    border: 4px solid red;
    border-radius: 15px;
}
.Picture:hover{
    transform: scale(1.1);
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.name {
    font-size: 1rem;
    color: white;
    font-family: 'Roboto Slab', serif;
    display: flex;
    position: absolute;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    max-width: 100%;
}

.Home-Container {
    display: flex;
    color: white;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 2rem;
}

.Welcome {
    color: white;
    font-size: 4rem;
    background-color: grey;
    border: 2px solid white;
    border-radius: 20px;
    font-family: Impact;
    text-align: center;
    padding: 20px;
}

.text-content {
    max-width: 600px;
    color: black;
    border: 1px solid white;
    background-color: #ADD8E6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Montserrat';
}

.text-content h2, .text-content p {
    margin: 0;
}

.profile-image img {
    border-radius: 15px;
    border: 2px solid white;
    width: 450px;
}

.text-content h2 {
    font-size: 2rem;
    padding: 20px;
}

.text-content p {
    max-width: 500px;
}

.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    max-width: 100%;
}
    
.About-me {
    margin-top: 10rem;
    color: white;
    background-color: grey;
    border: 2px solid white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    border-radius: 20px;
    max-width: 50%;
    text-align: center; 
    padding: 20px;
}

.about-myself {
    color: white;
    text-align: center;
    margin-top: 5rem;
    font-size: 1.5rem;
    padding: 50px;
}

.My-Projects {
    display: flex;
    text-align: center;
    justify-content: center;

}
@media  (max-width: 1460px) {
    .My-Projects{
        padding-left: 30px;
    }
}

.Myy-Projects {
    margin-top: 10rem;
    color: white;
    background-color: grey;
    border: 2px solid white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    border-radius: 20px;
    max-width: 50%;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.Activities-Container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 40px;
    justify-items: center;
    gap: 20px;
    
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px;
    cursor: pointer;
    width: 300px;
    border: 5px solid rgb(252, 255, 252);
    border-radius: 10px;
}

.Social-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    max-width: 100%;
}
.Social-title1{
    margin-top: 10rem;
    color: white;
    background-color: grey;
    border: 2px solid white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    border-radius: 20px;
    max-width: 50%;
    text-align: center; 
    padding: 20px;
}
.Social-Pictures{
    display: flex;
    gap: 150px;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 100px;

}
.Picture{
    display: flex;
    height: 250px;
    justify-content: center;
    border-color: black;    
    border-radius: 100px;
    cursor: pointer;
}

.Contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    max-width: 100%;
}
.Contact-Info{
    margin-top: 10rem;
    color: white;
    background-color: grey;
    border: 2px solid white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    border-radius: 20px;
    max-width: 50%;
    text-align: center; 
    padding: 20px;
}
.Contact-container{
    font-size: 1rem;
    color: white;
    text-align: start;
    margin-top: 5rem   ;

}
.info{
    border: 3px solid rgb(21, 198, 217);
    font-size: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5px;
}
#email{
    color: red;
}
#number{
    color: orange;
}
#school{
    color: green;
}
#address{
    color: brown;
}

.FAQ-Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
    
}
.FAQ-title{
    margin-top: 15rem;
    color: white;
    background-color: grey;
    border: 2px solid white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    border-radius: 20px;
    max-width: 50%; 
    padding: 20px;
   
}
.FAQ-Container{
    color: yellow;
    text-align: center;
    margin-top: 5rem;
    font-size: 15px;

}

.Question1{
border: 2px solid rgb(53, 246, 82);
border-radius: 15px;
margin-left: 10rem;
margin-right: 10rem;
padding: 20px;
margin-bottom: 3rem;


}
.Question2{
    border: 2px solid rgb(53, 246, 82);
    border-radius: 15px;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 20px;
    margin-bottom: 3rem;
}
.Question3{
    border: 2px solid rgb(53, 246, 82);
    border-radius: 15px;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 20px;
    margin-bottom: 3rem;
}
.Question4{
    border: 2px solid rgb(53, 246, 82);
    border-radius: 15px;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 20px;
    margin-bottom: 3rem;
}
.Question5{
    border: 2px solid rgb(53, 246, 82);
border-radius: 15px;
margin-left: 10rem;
margin-right: 10rem;
padding: 20px;
margin-bottom: 3rem;
}
.Question6{
    border: 2px solid rgb(53, 246, 82);
border-radius: 15px;
margin-left: 10rem;
margin-right: 10rem;
padding: 20px;
margin-bottom: 3rem;
}

.Answer{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: underline solid blue;

}
#white{
    color: white;
}
.Question1:hover{
    transform: scale(1.1);
}
.Question2:hover{
    transform: scale(1.1);
}
.Question3:hover{
    transform: scale(1.1);
}
.Question4:hover{
    transform: scale(1.1);
}
.Question5:hover{
    transform: scale(1.1);
}
.Question6:hover{
    transform: scale(1.1);
}

  .Answer:hover{
    display: block;
    color: red;
  }
  .Project-Container{
    margin: auto;
  }

 @media (max-width: 1069px){
   .Welcome{
    font-size: 3rem;
   }
   .text-content{
    font-size: 1.5rem;
   }
   .Home-Container{
    width: 80%;
   }
   .about-myself{
    margin-left: 50px;
    margin-right: 50px
   }
   .Activities-Container{
    margin-left: 50px;
    margin-right: 50px  
   }

 }
 @media (max-width: 1086px){
    .Picture{
        height: 200px;
    }
 }
 @media (max-width: 999px) {
    .profile-image img{
        width: 100%;
    }
 }
@media (max-width:996px)  {
    
    .Activities-Container{
        grid-template-columns: repeat(2,1fr);

    }
}
@media (max-width: 900px){
    .Picture{
        height: 150px;
    }
    .Welcome{
        font-size: 2rem;
    }
    .text-content{
        font-size: 1.3rem;
    }
    .About-me{
        font-size: 3.5rem;
    }
    .Contact-Info{
        font-size: 3rem;
    }
}
@media (max-width: 759px){
    .about-myself{
        text-align: start;
    }
}
@media (max-width: 955px){
    .text-content h2{
        font-size: 1.8rem;
        text-align: start;
        justify-content: center;
    }
}
@media (max-width:862px){
    .text-content h2{
        font-size: 1.5rem;
    }
}
@media (max-width:808px){
    .text-content h2{
        font-size: 1.2rem;
    
    }
    .text-content p{
        font-size: 1.1rem;
    }
    .Myy-Projects{
        font-size: 3rem;
    }
    .About-me{
        font-size: 3rem;
    }
    .Social-title1{
        font-size: 3rem;
    }
    .Contact-Info{
        font-size: 2.5rem
    }
    

}
@media (max-width:785px){
    .name{
        font-size: 0.8rem;
        text-align: center;
    }

    #damn1,#damn2,#damn3,#damn4,#damn5,#damn6{
        font-size: 0.8rem;
    }
    .button{
        font-size: 1.5rem;
    }
    .info{
        font-size: 1.5rem;
    }

}
@media (max-width:749px){
    .Picture{
        height: 120px}
    }
    #damn1:hover{
        color: red;
        text-decoration: underline;
        font-size: 1rem;
    }
    #damn2:hover{
        color: red;
        text-decoration: underline;
        font-size: 1rem;
    }
    #damn3:hover{
        color: red;
        text-decoration: underline;
        font-size: 1rem;
    }
    #damn4:hover{
        color: red;
        text-decoration: underline;
        font-size: 1rem;
    }
    #damn5:hover{
        color: red;
        text-decoration: underline;
        font-size: 1rem;
    }
    #damn6:hover{
        color: red;
        text-decoration: underline;
        font-size: 1.2rem;
    }
    .Activities-Container{
        grid-template-columns:repeat(1,1fr) ; 
        
    }

@media (max-width:769px){
  
    .name{
        align-items: start;
        justify-content: start;
        text-align: start;
    }
}

@media (max-width: 720px){
    .Picture{
        height: 127px;
    }
}
@media (max-width:676px){
    .Picture{
        height: 115px;
    }
    .text-content{
        text-align: center;
    }
    .about-myself{
        text-align: center;
    }
    
}

